{% extends 'base.html' %}

{% block page_title %}City{% endblock %}
{% block content %}
<h1 align="center">{{ city.name }}</h1>
<table class="table">
    <tr>
        <th>Name</th>
        <td>{{ city.name }}</td>
    </tr>
    <tr>
        <th>Country</th>
        <td><a href="{% url 'locations:country' city.country.id %}">{{ city.country.name }}</a></td>
    </tr>
    <tr>
        <th>Longitude</th>
        <td>{{ city.longitude }}</td>
    </tr>
    <tr>
        <th>Latitude</th>
        <td>{{ city.latitude }}</td>
    </tr>
    <tr>
        <th>Remove city</th>
        <td><a class="btn btn-outline-danger" href="{% url 'locations:remove_city' city.country.id city.id %}">Remove
            city</a>
        </td>
    </tr>
</table>
{% endblock %}