{% extends 'base.html' %}
{% load extra_tags %}

{% block page_title %}Countries{% endblock %}
{% block content %}
<h1 align="center">{{ country.name }}</h1>
<dl class="row" align="center">
    <dt class="col-sm-3">Id</dt>
    <dd class="col-sm-9">{{ country.country_id }}</dd>
</dl>
<dl class="row" align="center">
    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">{{ country.description|slice:7 }}</dd>
</dl>
<dl class="row" align="center">
    <dt class="col-sm-3">Population</dt>
    <dd class="col-sm-9">{{ country.population }}</dd>
</dl>
<dl class="row" align="center">
    <dt class="col-sm-3">Flag</dt>
    <dd class="col-sm-9">{{ country.flag }}</dd>
</dl>
<dl class="row" align="center">
    <dt class="col-sm-3">Cities count</dt>
    <dd class="col-sm-9">{{ country.cities_count }}</dd>
</dl>
<dl class="row" align="center">
    <dt class="col-sm-3">Edit country details</dt>
    <dd class="col-sm-9"><a class="btn btn-secondary" href="{% url 'locations:edit_country' country.id %}">Edit</a></dd>
</dl>
<dl class="row" align="center">
    <dt class="col-sm-3">Remove country</dt>
    <dd class="col-sm-9"><a class="btn btn-outline-danger"
                            href="{% url 'locations:remove_country' country.id %}">Remove</a></dd>
</dl>
<dl class="row" align="center">
    <dt class="col-sm-3">Add new city</dt>
    <dd class="col-sm-9"><a class="btn btn-primary" href="{% url 'locations:create_new_city' %}">Add new city</a></dd>
</dl>
{% if cities %}
<h2 align="center">Cities:</h2>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Country_Id</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Edit</th>
    </tr>
    {% for city in cities %}
    <tr>
        <td>{{ city.id }}</td>
        <td><a href="{% url 'locations:city' city.id %}">{{ city.name }}</a></td>
        <td>{{ city.country_id }}</td>
        <td>{{ city.longitude }}</td>
        <td>{{ city.latitude }}</td>
        <td><a class="btn btn-secondary" href="{% url 'locations:edit_city' city.id %}">Edit details</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}